 /* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');



.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}



/* asterisk wildcard selector to override default styles added by the brwoser*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* general styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styyles */
    color: #3a3a3a; 
    font-family: 'lato', sans-serif ;

}

/* header */
header {
  background-color: lightcoral;
}
h1 {
  font-family:'oswals', sans-serif;
}
/*main content*/
main {
  background-color: aliceblue;
  /* makes the main element take up any surplus space to push the footer down*/
  flex: 1 0 auto;
}
/* footer */
footer {
  background-color: orange;
}
