/* asterisk wildcard selector to override default styles added by the brwoser*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header */
header {
  background-color: lightcoral;
}
/*main content*/
main {
  background-color: aliceblue;
}
/* footer */
footer {
  background-color: orange;
}
